<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
	<!-- Menu toggle button -->
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-envelope-o"></i>
		{{if isLogin}}
		<span class="label label-success">4</span>
		{{/if}}
	</a>
	{{if isLogin}}
	<ul class="dropdown-menu">
		<li class="header">You have 4 messages</li>
		<li>
			<!-- inner menu: contains the messages -->
			<ul class="menu">
				<li><!-- start message -->
					<a href="#">
						<div class="pull-left">
							<!-- User Image -->
							<img src="static/images/user2-160x160.jpg" class="img-circle" alt="User Image">
						</div>
						<!-- Message title and timestamp -->
						<h4>
							Support Team
							<small><i class="fa fa-clock-o"></i> 5 mins</small>
						</h4>
						<!-- The message -->
						<p>Why not buy a new awesome theme?</p>
					</a>
				</li>
				<!-- end message -->
			</ul>
			<!-- /.menu -->
		</li>
		<li class="footer"><a href="#">查看所有消息</a></li>
	</ul>
	{{/if}}
</li>
<!-- /.messages-menu -->

<!-- Notifications Menu -->
<li class="dropdown notifications-menu">
	<!-- Menu toggle button -->
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bell-o"></i>
		{{if isLogin}}
		<span class="label label-warning">10</span>
		{{/if}}
	</a>
	{{if isLogin}}
	<ul class="dropdown-menu">
		<li class="header">You have 10 notifications</li>
		<li>
			<!-- Inner Menu: contains the notifications -->
			<ul class="menu">
				<li><!-- start notification -->
					<a href="#">
						<i class="fa fa-users text-aqua"></i> 5 new members joined today
					</a>
				</li>
				<!-- end notification -->
			</ul>
		</li>
		<li class="footer"><a href="#">全部</a></li>
	</ul>
	{{/if}}
</li>
<!-- Tasks Menu -->
<li class="dropdown tasks-menu">
	<!-- Menu Toggle Button -->
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-flag-o"></i>
		{{if isLogin}}
		<span class="label label-danger">9</span>
		{{/if}}
	</a>
	{{if isLogin}}
	<ul class="dropdown-menu">
		<li class="header">You have 9 tasks</li>
		<li>
			<!-- Inner menu: contains the tasks -->
			<ul class="menu">
				<li><!-- Task item -->
					<a href="#">
						<!-- Task title and progress text -->
						<h3>
							设计按钮
							<small class="pull-right">20%</small>
						</h3>
						<!-- The progress bar -->
						<div class="progress xs">
							<!-- Change the css width attribute to simulate progress -->
							<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
								<span class="sr-only">20% Complete</span>
							</div>
						</div>
					</a>
				</li>
				<!-- end task item -->
			</ul>
		</li>
		<li class="footer">
			查看所有任务
		</li>
	</ul>
	{{/if}}
</li>
<li class="dropdown user user-menu">

	<!-- Menu Toggle Button -->
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="login_user">
		<!-- The user image in the navbar-->
		<img src="static/images/user2-160x160.jpg" class="user-image" alt="User Image">
		<!-- hidden-xs hides the username on small devices so only the image appears. -->
		{{if isLogin}}
		<span class="hidden-xs">{{username}}</span>
		{{/if}}
		{{if !isLogin}}
		<span class="hidden-xs xs_cusome">注册</span>
		<span class="hidden-xs xs_cusome">登录</span>
		{{/if}}
	</a>
	{{if isLogin}}
	<ul class="dropdown-menu">
		<!-- The user image in the menu -->
		<li class="user-header">
			<img src="static/images/user2-160x160.jpg" class="img-circle" alt="User Image">

			<p>
				{{username}}
				<small>Member since Nov. 2012</small>
			</p>
		</li>
		<!-- Menu Body -->
		<li class="user-body">
			<div class="row">
				<div class="col-xs-4 text-center">
					<a href="#">花朵</a>
				</div>
				<div class="col-xs-4 text-center">
					<a href="#">销量</a>
				</div>
				<div class="col-xs-4 text-center">
					<a href="#">好友</a>
				</div>
			</div>
			<!-- /.row -->
		</li>
		<!-- Menu Footer-->
		<li class="user-footer">
			<div class="pull-left">
				<a href="#" class="btn btn-primary" id="btn_info">设置</a>
			</div>
			<div class="pull-right">
				<a href="#" class="btn btn-warning">退出</a>
			</div>
		</li>
	</ul>
	{{/if}}
	{{if !isLogin}}
	<ul class="dropdown-menu">
		<!-- The user image in the menu -->
		<li class="user-header">
			<!-- form start -->
			<form class="form-horizontal">
				<div class="form-group">
					<label for="username" class="col-sm-12 control-label label_self">用户名</label>

					<div class="col-sm-12">
						<input type="email" class="form-control" id="username" name="username" placeholder="请输入用户名">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-12 control-label label_self">密码</label>

					<div class="col-sm-12">
						<input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
					</div>
				</div>
			</form>
		</li>
		<!-- Menu Footer-->
		<li class="user-footer">
			<div class="pull-left">
				<a href="#" class="btn btn-primary" id="btn_info">设置</a>
			</div>
			<div class="pull-right">
				<a href="#" class="btn btn-warning">退出</a>
			</div>
		</li>
	</ul>
	{{/if}}
</li>