<!-- 模态框（Modal） -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;" id="modal_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header alert-danger">
				<h4 class="modal-title" id="myModalLabel">
					未登录，请登录后进行相关操作！
				</h4>
			</div>
			<div class="modal-body" id="to_login">
				<b>5</b>s之后自动跳转到登录页...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="to_loginBtn">去登录</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>